.container {
	background-color: #1b1b1b;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	min-height: 100vh;
	text-align: center;
	position: relative;
	color: #fff;
}

.inner {
	text-align: center;
	position: relative;
	width: 85%;
	height: auto;
	min-height: calc(100vh - 4rem);
	margin: auto;
	padding-top: 2rem;
	margin-bottom: 2rem;
	font-family: 'Nanum Pen Script', cursive;
}

@media (min-width: 650px) {
	.inner {
		max-width: 530px;
	}
}

p {
	line-height: 1.6rem;
}
