.container {
	background-color: #272b30;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
	transition: background-color 1s;
	width: 100%;
	height: auto;
	min-height: 100vh;
	text-align: center;
	position: relative;
	color: #fff;
}

.inner {
	text-align: center;
	position: relative;
	width: 85%;
	height: auto;
	min-height: calc(100vh - 4rem);
	margin: auto;
	padding-top: 2rem;
	margin-bottom: 2rem;
	font-family: 'Nanum Pen Script', cursive;
}

@media (min-width: 650px) {
	.inner {
		max-width: 530px;
	}
}

h3 {
	margin-top: 2rem;
	font-size: 3rem;
}

p {
	line-height: 1.6rem;
}

a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dashed;
	display: inline-block;
	height: 1.4rem;
}

a.sup {
	border-bottom: 0 none;
}

a:hover {
	border-bottom: 0 none;
}

.grey {
	color: #aaa;
	border-color: #aaa;
}

.devopspurple {
	color: #575d88;
	border-color: #575d88;
}

.red {
	color: #ff6188;
	border-color: #ff6188;
}

.orange {
	color: #fc9867;
	border-color: #fc9867;
}

.yellow {
	color: #ffd866;
	border-color: #ffd866;
}

.poisonousgreen {
	color: #19cf85;
	border-color: #19cf85;
}

.green {
	color: #a9dc76;
	border-color: #a9dc76;
}

.blue {
	color: #78dce8;
	border-color: #78dce8;
}

.purple {
	color: #ab9df2;
	border-color: #ab9df2;
}

.neovimblue {
	color: #3c92d1;
	border-color: #3c92d1;
}

.elephantblue {
	color: #7e8bbd;
	border-color: #7e8bbd;
}

.turquoiseblue {
	color: #67ffdc;
	border-color: #67ffdc;
}

sup {
	margin-left: -7px;
	cursor: pointer;
}

sup:after {
	content: '*';
}

span.nobr {
	white-space: nowrap;
	display: inline-block;
}

.obsolete {
	text-decoration: line-through;
}
