a[data-tippy-html] {
	text-decoration: none;
	border-bottom: 0 none;
}

.tippy-content p {
	line-height: 0.85rem;
}

.tippy-content a:link,

.tippy-content a:visited {
	color: #fff;
}

.tippy-popper .tippy-content {
	padding-left: 10px;
	padding-right: 10px;
	max-height: 260px;
	max-width: 400px;
	overflow-y: auto;
	background-color: #0f1721;
	font-size: 12px;
	font-family: sans-serif;
}

.tippy-backdrop {
	background-color: #121212;
}

.tippy-tooltip.dark-theme {
	background-color: #121212;
}

